:root {
  --dark-color: #181e1e;
  --red-color: #E63946;
  --pink-color: #ff6864;
  --yellow-color: #ffca28
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Inter", sans-serif ;
}

.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.red{
  color: var(--red-color);
} 

.black{
  background: black;
 
}

.dark-grey{
  background: var(--dark-color);
}
section h2 {
  color: #FFF;
  display: flex;
  width: 1024px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  padding-top: 80px;
  padding-bottom: 40px ;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

section h2::after {
  /* position: absolute; */
  content: "";
  width: 80px;
  height: 4px;
  background: var(--red-color);
  /* bottom: -10;
  left: 0px;
  right: 0px; */
}

section .content-container {
  display: flex;
}