#topics{
    height: 100vh;
     
} 


section .content-container{
    color: #FFF;
    
        font-family: "Alegreya";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
section .content-container .topics-list li {
list-style: none;
margin: 24px 0px;
position: relative;
}

.content-container ul li::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: var(--red-color);
    border-radius: 50%;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

section .content-container{
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

section img{
    width: 558px;
    height: 287px;
    flex-shrink: 0;
    position: relative;
    
}

section .wrapper{
    position: relative;
}
section .bgElement {
    width: 88px;
    height: 60px;
    position: absolute;
    right: -4%;
    bottom: 5px;
    
}




