
#info img{
width: 100px;
height: 100px;
}

#info .info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
}

#info .wrapper{
    position: relative;
    padding: 100px;
   
}

#info .wrapper .bgElement2{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 80px;
}

section .content-container .amount{
    color: #FFF;
    
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
}
section .content-container .type{
color: #FFF;

font-family: Alegreya;
font-size: 30px;
font-weight: 600;
line-height: normal;
}
